<!-- Required Js -->
<script src="/static/assets/js/vendor-all.min.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/js/pcodede.min.js"></script>
<!--<script src="https://cdn.amcharts.com/lib/5/index.js"></script>-->
<!--<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>-->
<!--<script src="https://cdn.amcharts.com/lib/5/radar.js"></script>-->
<!--<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Sharp|Material+Icons+Two+Tone|Material+Icons+Outlined" rel="stylesheet">