{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<!-- Resources -->
<script src="https://code.highcharts.com/highcharts.js" xmlns="http://www.w3.org/1999/html"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<!--<script src="../gauge/js/jQuery-plugin-progressbar.js"></script>-->
<!--<link rel="stylesheet" href="../gauge/css/jQuery-plugin-progressbar.css">-->


<style>
    .gauge {
      width: 100%;
      max-width: 250px;
      font-family: 'Roboto', sans-serif;
      font-size: 32px;
      color: #004033;
    }

    .gauge_body {
      width: 100%;
      height: 0;
      padding-bottom: 50%;
      background: #b4c0be;
      position: relative;
      border-top-left-radius: 100% 200%;
      border-top-right-radius: 100% 200%;
      overflow: hidden;
    }

    .gauge_fill {
      position: absolute;
      top: 100%;
      left: 0;
      width: inherit;
      height: 100%;
      background: #009578;
      transform-origin: center top;
      transform: rotate(0.25turn);
      transition: transform 0.2s ease-out;
    }

    .gauge_cover {
      width: 75%;
      height: 150%;
      background: #ffffff;
      border-radius: 50%;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translateX(-50%);

      /* Text */
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 25%;
      box-sizing: border-box;
    }

    meter {
        width: 70%;
        height: 20px;
    }

    body {
        -ms-overflow-style: none;
    }


    ::-webkit-scrollbar {
        display: none;
    }

    /*특정 부분 스크롤바 없애기*/
    .div {
        -ms-overflow-style: none;
    }

    .div::-webkit-scrollbar {
        display: none;
    }

    border {
        border-color: #98a0a4;
    }

    .highcharts-figure .chart-container {
        width: 300px;
        height: 200px;
        float: left;
    }

    .highcharts-figure,
    .highcharts-data-table table {
        width: 600px;
        margin: 0 auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

    @media (max-width: 600px) {
        .highcharts-figure,
        .highcharts-data-table table {
            width: 100%;
        }

        .highcharts-figure .chart-container {
            width: 300px;
            float: none;
            margin: 0 auto;
        }
    }

</style>

<!--<script src="C:\Users\user\Desktop\django-datta-able-master_backUp2\django-datta-able-master\apps\static\assets\js\gauge.js"></script>-->

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->

        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!--[ daily sales section ] start-->
                    <div class="col-md-5 col-xl-3">
                        <div class="card daily-sales">
                            <div class="card-header">
                                <h5>Factory</h5>
                            </div>
                            <div class="card-block">
                                <div style="height: 200px; overflow-y: scroll; display: flex; justify-content:center"
                                     class=" row d-flex align-items-center">
                                    <div style="border-radius: 10px;border: 1px solid black; text-align: center; boarder-radius:10px"
                                         class="mb-3 col-9">
                  <span style="font-size:100px" class="material-icons">
                      priority_high
                  </span>
                                        <p>reshenie 1공장</p>
                                        <p>설비에 문제가 발생했습니다.</p>
                                    </div>
                                    <div style="border-radius: 10px;border: 1px solid black; text-align: center;"
                                         class="mb-3 col-9">
                  <span style="font-size:100px" class="material-icons">
                      priority_high
                  </span>
                                        <p>reshenie 2공장</p>
                                        <p>설비에 문제가 발생했습니다.</p>
                                    </div>
                                    <div style="border-radius: 10px;border: 1px solid black; text-align: center;"
                                         class="mb-3 col-9">
                  <span style="font-size:100px" class="material-icons">
                      priority_high
                  </span>
                                        <p>reshenie 3공장</p>
                                        <p>설비에 문제가 발생했습니다.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ daily sales section ] end-->
                    <!--[ Monthly  sales section ] starts-->
                    <div class="col-md-5 col-xl-8">
                        <div class="card Monthly-sales">
                            <div class="card-header">
                                <h5>Machines</h5>
                            </div>
                            <div class="card-block">
                                <div style="height:200px; overflow-y:scroll;">
                                    <div style="border-radius: 10px;float:left; border: 1px solid black; text-align: center;"
                                         class="m-4 col-5">
                  <span style="font-size:100px" class="material-icons">
                      priority_high
                  </span>
                                        <p>설비 1</p>
                                        <p>센서를 확인해 주세요</p>
                                    </div>
                                    <div style="border-radius: 10px;float:left; border: 1px solid black; text-align: center; border-radius: 10px"
                                         class="m-4 col-5">
                  <span style="font-size:100px" class="material-icons">
                      priority_high
                  </span>
                                        <p>설비 1</p>
                                        <p>센서를 확인해 주세요</p>
                                    </div>
                                    <div style="border-radius: 10px;float:left; border: 1px solid black; text-align: center;"
                                         class="m-4 col-5">
                  <span style="font-size:100px" class="material-icons">
                      priority_high
                  </span>
                                        <p>설비 1</p>
                                        <p>센서를 확인해 주세요</p>
                                    </div>
                                    <div style="border-radius: 10px;float:left; border: 1px solid black; text-align: center;"
                                         class="m-4 col-5">
                  <span style="font-size:100px" class="material-icons">
                      priority_high
                  </span>
                                        <p>설비 1</p>
                                        <p>센서를 확인해 주세요</p>
                                    </div>
                                    <div style="border-radius: 10px;float:left; border: 1px solid black; text-align: center;"
                                         class="m-4 col-5">
                  <span style="font-size:100px" class="material-icons">
                      priority_high
                  </span>
                                        <p>설비 1</p>
                                        <p>센서를 확인해 주세요</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ Monthly  sales section ] end-->
                    <!--[ year  sales section ] starts-->
                    <!-- <div class="col-md-12 col-xl-4">
                      <div class="card yearly-sales">
                        <div class="card-block">
                          <h6 class="mb-4">Yearly Sales</h6>
                          <div class="row d-flex align-items-center">
                            <div class="col-9">
                              <h3 class="f-w-300 d-flex align-items-center m-b-0">
                                <i
                                  class="feather icon-arrow-up text-c-green f-30 m-r-10"
                                ></i
                                >$ 8.638.32
                              </h3>
                            </div>
                            <div class="col-3 text-right">
                              <p class="m-b-0">80%</p>
                            </div>
                          </div>
                          <div class="progress m-t-30" style="height: 7px">
                            <div
                              class="progress-bar progress-c-theme"
                              role="progressbar"
                              style="width: 70%"
                              aria-valuenow="70"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <!--[ year  sales section ] end-->

                    <!-- [ statistics year chart ] start -->

                    <div class="col-xl-2 col-md-6">
                        <div class="card card-event">
                            <div class="card-header">
                                <h5>Sensor</h5>
                            </div>
                            <div class="card-block">
                                <div style="height:400px;overflow-y: scroll;"
                                     class="row align-items-center justify-content-center">
                                    <div style="border-radius: 10px;border: 1px solid black; text-align: center;"
                                         class="m-1 col-10">
                   <span style="font-size:100px;" class="material-icons-outlined">
                        sensors
                   </span>
                                        <p>센서 1</p>
                                        <p>센서가 정상입니다.</p>
                                    </div>
                                    <div style="border-radius: 10px;border: 1px solid black; text-align: center;"
                                         class="m-1 col-10">
                    <span style="font-size:100px;" class="material-icons-outlined">
                        sensors_off
                    </span>
                                        <p>센서 2</p>
                                        <p>센서를 확인해주세요.</p>
                                    </div>
                                    <div style="border-radius: 10px;border: 1px solid black; text-align: center;"
                                         class="m-1 col-10">
                    <span style="font-size:100px;" class="material-icons-outlined">
                        sensors_off
                    </span>
                                        <p>센서 2</p>
                                        <p>센서를 확인해주세요.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="card">
                          <div class="card-block border-bottom">
                            <div class="row d-flex align-items-center">
                              <div class="col-auto">
                                <i class="feather icon-zap f-30 text-c-green"></i>
                              </div>
                              <div class="col">
                                <h3 class="f-w-300">235</h3>
                                <span class="d-block text-uppercase">TOTAL IDEAS</span>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <div class="row d-flex align-items-center">
                              <div class="col-auto">
                                <i class="feather icon-map-pin f-30 text-c-blue"></i>
                              </div>
                              <div class="col">
                                <h3 class="f-w-300">26</h3>
                                <span class="d-block text-uppercase">TOTAL LOCATIONS</span>
                              </div>
                            </div>
                          </div>
                        </div> -->
                    </div>
                    <!-- [ statistics year chart ] end -->
                    <!--[ Recent Users ] start-->
                    <div class="col-xl-9 col-md-5">
                        <div class="card Recent-Users">
                            <div class="card-header">
                                <h5>Meta</h5>
                            </div>
                            <div class="card-block px-0 py-3">
                                <!-- HTML -->

                                <div style="border-top: 1px solid darkgray; border-bottom: 1px solid darkgray; text-align: left;"
                                     class="mb-1 col-12">
                                    <p>센서 1</p>
                                         <div class="col-2">
                                        <div class="gauge">
                                            <div class="gauge_body">
                                                <div class="gauge_fill"></div>
                                                <div class="gauge_cover"></div>
                                            </div>
                                        </div>
                                        </div>
                                    <div class="col-5">
                                        <div class="progress" style="margin-bottom:10px;">
                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                                60% Complete (warning)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="border-top: 1px solid darkgray; border-bottom: 1px solid darkgray; text-align: left;" class="mb-1 col-12">
                                    <p>센서 2</p>
                                        <div class="col-2">
                                        <div class="gauge">
                                            <div class="gauge_body">
                                                <div class="gauge_fill"></div>
                                                <div class="gauge_cover"></div>
                                            </div>
                                        </div>
                                        </div>
                                    <div class="col-5">
                                        <div class="progress" style="margin-bottom:10px">
                                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="70"
                                                 aria-valuemin="0" aria-valuemax="100" style="width:80% ">
                                                80% Complete (danger)
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="table-responsive">
                          <table class="table table-hover">
                            <tbody>
                              <tr class="unread">
                                <td>
                                  <img
                                    class="rounded-circle"
                                    style="width: 40px"
                                    src="/static/assets/images/user/avatar-1.jpg"
                                    alt="activity-user"
                                  />
                                </td>
                                <td>
                                  <h6 class="mb-1">Isabella Christensen</h6>
                                  <p class="m-0">Lorem Ipsum is simply…</p>
                                </td>
                                <td>
                                  <h6 class="text-muted">
                                    <i
                                      class="fas fa-circle text-c-green f-10 m-r-15"
                                    ></i
                                    >11 MAY 12:56
                                  </h6>
                                </td>
                                <td>
                                  <a href="#!" class="label theme-bg2 text-white f-12"
                                    >Reject</a
                                  ><a href="#!" class="label theme-bg text-white f-12"
                                    >Approve</a
                                  >
                                </td>
                              </tr>
                              <tr class="unread">
                                <td>
                                  <img
                                    class="rounded-circle"
                                    style="width: 40px"
                                    src="/static/assets/images/user/avatar-2.jpg"
                                    alt="activity-user"
                                  />
                                </td>
                                <td>
                                  <h6 class="mb-1">Mathilde Andersen</h6>
                                  <p class="m-0">Lorem Ipsum is simply text of…</p>
                                </td>
                                <td>
                                  <h6 class="text-muted">
                                    <i class="fas fa-circle text-c-red f-10 m-r-15"></i
                                    >11 MAY 10:35
                                  </h6>
                                </td>
                                <td>
                                  <a href="#!" class="label theme-bg2 text-white f-12"
                                    >Reject</a
                                  ><a href="#!" class="label theme-bg text-white f-12"
                                    >Approve</a
                                  >
                                </td>
                              </tr>
                              <tr class="unread">
                                <td>
                                  <img
                                    class="rounded-circle"
                                    style="width: 40px"
                                    src="/static/assets/images/user/avatar-3.jpg"
                                    alt="activity-user"
                                  />
                                </td>
                                <td>
                                  <h6 class="mb-1">Karla Sorensen</h6>
                                  <p class="m-0">Lorem Ipsum is simply…</p>
                                </td>
                                <td>
                                  <h6 class="text-muted">
                                    <i
                                      class="fas fa-circle text-c-green f-10 m-r-15"
                                    ></i
                                    >9 MAY 17:38
                                  </h6>
                                </td>
                                <td>
                                  <a href="#!" class="label theme-bg2 text-white f-12"
                                    >Reject</a
                                  ><a href="#!" class="label theme-bg text-white f-12"
                                    >Approve</a
                                  >
                                </td>
                              </tr>
                              <tr class="unread">
                                <td>
                                  <img
                                    class="rounded-circle"
                                    style="width: 40px"
                                    src="/static/assets/images/user/avatar-1.jpg"
                                    alt="activity-user"
                                  />
                                </td>
                                <td>
                                  <h6 class="mb-1">Ida Jorgensen</h6>
                                  <p class="m-0">Lorem Ipsum is simply text of…</p>
                                </td>
                                <td>
                                  <h6 class="text-muted f-w-300">
                                    <i class="fas fa-circle text-c-red f-10 m-r-15"></i
                                    >19 MAY 12:56
                                  </h6>
                                </td>
                                <td>
                                  <a href="#!" class="label theme-bg2 text-white f-12"
                                    >Reject</a
                                  ><a href="#!" class="label theme-bg text-white f-12"
                                    >Approve</a
                                  >
                                </td>
                              </tr>
                              <tr class="unread">
                                <td>
                                  <img
                                    class="rounded-circle"
                                    style="width: 40px"
                                    src="/static/assets/images/user/avatar-2.jpg"
                                    alt="activity-user"
                                  />
                                </td>
                                <td>
                                  <h6 class="mb-1">Albert Andersen</h6>
                                  <p class="m-0">Lorem Ipsum is simply dummy…</p>
                                </td>
                                <td>
                                  <h6 class="text-muted">
                                    <i
                                      class="fas fa-circle text-c-green f-10 m-r-15"
                                    ></i
                                    >21 July 12:56
                                  </h6>
                                </td>
                                <td>
                                  <a href="#!" class="label theme-bg2 text-white f-12"
                                    >Reject</a
                                  ><a href="#!" class="label theme-bg text-white f-12"
                                    >Approve</a
                                  >
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div> -->
                    </div>
                </div>
            </div>

            <!--[ Recent Users ] end-->

            <!--[social-media section] start-->
            <!-- <div class="col-md-12 col-xl-4">
              <div class="card card-social">
                <div class="card-block border-bottom">
                  <div class="row align-items-center justify-content-center">
                    <div class="col-auto">
                      <i class="fab fa-facebook-f text-primary f-36"></i>
                    </div>
                    <div class="col text-right">
                      <h3>12,281</h3>
                      <h5 class="text-c-green mb-0">
                        +7.2% <span class="text-muted">Total Likes</span>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="card-block">
                  <div
                    class="row align-items-center justify-content-center card-active"
                  >
                    <div class="col-6">
                      <h6 class="text-center m-b-10">
                        <span class="text-muted m-r-5">Target:</span>35,098
                      </h6>
                      <div class="progress">
                        <div
                          class="progress-bar progress-c-theme"
                          role="progressbar"
                          style="width: 60%; height: 6px"
                          aria-valuenow="60"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </div>
                    <div class="col-6">
                      <h6 class="text-center m-b-10">
                        <span class="text-muted m-r-5">Duration:</span>3,539
                      </h6>
                      <div class="progress">
                        <div
                          class="progress-bar progress-c-theme2"
                          role="progressbar"
                          style="width: 45%; height: 6px"
                          aria-valuenow="45"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <!--<div class="col-md-6 col-xl-4">
               <div class="card card-social">
                <div class="card-block border-bottom">
                  <div class="row align-items-center justify-content-center">
                    <div class="col-auto">
                      <i class="fab fa-twitter text-c-blue f-36"></i>
                    </div>
                    <div class="col text-right">
                      <h3>11,200</h3>
                      <h5 class="text-c-purple mb-0">
                        +6.2% <span class="text-muted">Total Likes</span>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="card-block">
                  <div
                    class="row align-items-center justify-content-center card-active"
                  >
                    <div class="col-6">
                      <h6 class="text-center m-b-10">
                        <span class="text-muted m-r-5">Target:</span>34,185
                      </h6>
                      <div class="progress">
                        <div
                          class="progress-bar progress-c-green"
                          role="progressbar"
                          style="width: 40%; height: 6px"
                          aria-valuenow="40"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </div>
                    <div class="col-6">
                      <h6 class="text-center m-b-10">
                        <span class="text-muted m-r-5">Duration:</span>4,567
                      </h6>
                      <div class="progress">
                        <div
                          class="progress-bar progress-c-blue"
                          role="progressbar"
                          style="width: 70%; height: 6px"
                          aria-valuenow="70"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
            <!-- <div class="col-md-6 col-xl-4">
                <div class="card card-social">
                 <div class="card-block border-bottom">
                   <div class="row align-items-center justify-content-center">
                     <div class="col-auto">
                       <i class="fab fa-google-plus-g text-c-red f-36"></i>
                     </div>
                     <div class="col text-right">
                       <h3>10,500</h3>
                       <h5 class="text-c-blue mb-0">
                         +5.9% <span class="text-muted">Total Likes</span>
                       </h5>
                     </div>
                   </div>
                 </div>
                 <div class="card-block">
                   <div
                     class="row align-items-center justify-content-center card-active"
                   >
                     <div class="col-6">
                       <h6 class="text-center m-b-10">
                         <span class="text-muted m-r-5">Target:</span>25,998
                       </h6>
                       <div class="progress">
                         <div
                           class="progress-bar progress-c-theme"
                           role="progressbar"
                           style="width: 80%; height: 6px"
                           aria-valuenow="80"
                           aria-valuemin="0"
                           aria-valuemax="100"
                         ></div>
                       </div>
                     </div>
                     <div class="col-6">
                       <h6 class="text-center m-b-10">
                         <span class="text-muted m-r-5">Duration:</span>7,753
                       </h6>
                       <div class="progress">
                         <div
                           class="progress-bar progress-c-theme2"
                           role="progressbar"
                           style="width: 50%; height: 6px"
                           aria-valuenow="50"
                           aria-valuemin="0"
                           aria-valuemax="100"
                         ></div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>-->
            <!--[social-media section] end-->
            <!-- [ rating list ] starts-->
            <!-- <div class="col-xl-4 col-md-6">
                <div class="card user-list">
                 <div class="card-header">
                   <h5>Rating</h5>
                 </div>
                 <div class="card-block">
                   <div
                     class="row align-items-center justify-content-center m-b-20"
                   >
                     <div class="col-6">
                       <h2
                         class="f-w-300 d-flex align-items-center float-left m-0"
                       >
                         4.7 <i class="fas fa-star f-10 m-l-10 text-c-yellow"></i>
                       </h2>
                     </div>
                     <div class="col-6">
                       <h6 class="d-flex align-items-center float-right m-0">
                         0.4
                         <i class="fas fa-caret-up text-c-green f-22 m-l-10"></i>
                       </h6>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col-xl-12">
                       <h6 class="align-items-center float-left">
                         <i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>5
                       </h6>
                       <h6 class="align-items-center float-right">384</h6>
                       <div class="progress m-t-30 m-b-20" style="height: 6px">
                         <div
                           class="progress-bar progress-c-theme"
                           role="progressbar"
                           style="width: 70%"
                           aria-valuenow="70"
                           aria-valuemin="0"
                           aria-valuemax="100"
                         ></div>
                       </div>
                     </div>
                     <div class="col-xl-12">
                       <h6 class="align-items-center float-left">
                         <i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>4
                       </h6>
                       <h6 class="align-items-center float-right">145</h6>
                       <div class="progress m-t-30 m-b-20" style="height: 6px">
                         <div
                           class="progress-bar progress-c-theme"
                           role="progressbar"
                           style="width: 35%"
                           aria-valuenow="35"
                           aria-valuemin="0"
                           aria-valuemax="100"
                         ></div>
                       </div>
                     </div>
                     <div class="col-xl-12">
                       <h6 class="align-items-center float-left">
                         <i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>3
                       </h6>
                       <h6 class="align-items-center float-right">24</h6>
                       <div class="progress m-t-30 m-b-20" style="height: 6px">
                         <div
                           class="progress-bar progress-c-theme"
                           role="progressbar"
                           style="width: 25%"
                           aria-valuenow="25"
                           aria-valuemin="0"
                           aria-valuemax="100"
                         ></div>
                       </div>
                     </div>
                     <div class="col-xl-12">
                       <h6 class="align-items-center float-left">
                         <i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>2
                       </h6>
                       <h6 class="align-items-center float-right">1</h6>
                       <div class="progress m-t-30 m-b-20" style="height: 6px">
                         <div
                           class="progress-bar progress-c-theme"
                           role="progressbar"
                           style="width: 10%"
                           aria-valuenow="10"
                           aria-valuemin="0"
                           aria-valuemax="100"
                         ></div>
                       </div>
                     </div>
                     <div class="col-xl-12">
                       <h6 class="align-items-center float-left">
                         <i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>1
                       </h6>
                       <h6 class="align-items-center float-right">0</h6>
                       <div class="progress m-t-30 m-b-20" style="height: 6px">
                         <div
                           class="progress-bar"
                           role="progressbar"
                           style="width: 0"
                           aria-valuenow="0"
                           aria-valuemin="0"
                           aria-valuemax="100"
                         ></div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>-->
            <!-- [ rating list ] end-->
            <!-- <div class="col-xl-8 col-md-12 m-b-30">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                 <li class="nav-item">
                   <a
                     class="nav-link"
                     id="home-tab"
                     data-toggle="tab"
                     href="#home"
                     role="tab"
                     aria-controls="home"
                     aria-selected="false"
                     >Today</a
                   >
                 </li>
                 <li class="nav-item">
                   <a
                     class="nav-link active show"
                     id="profile-tab"
                     data-toggle="tab"
                     href="#profile"
                     role="tab"
                     aria-controls="profile"
                     aria-selected="true"
                     >This Week</a
                   >
                 </li>
                 <li class="nav-item">
                   <a
                     class="nav-link"
                     id="contact-tab"
                     data-toggle="tab"
                     href="#contact"
                     role="tab"
                     aria-controls="contact"
                     aria-selected="false"
                     >All</a
                   >
                 </li>
               </ul> -->
            <!-- <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade"
                id="home"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>User</th>
                      <th>Activity</th>
                      <th>Time</th>
                      <th>Status</th>
                      <th class="text-right"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="/static/assets/images/user/avatar-1.jpg"
                            alt="activity-user"
                          />Ida Jorgensen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">The quick brown fox</h6>
                      </td>
                      <td>
                        <h6 class="m-0">3:28 PM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-green">Done</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-green f-10"></i>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="/static/assets/images/user/avatar-2.jpg"
                            alt="activity-user"
                          />Albert Andersen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">Jumps over the lazy</h6>
                      </td>
                      <td>
                        <h6 class="m-0">2:37 PM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-red">Missed</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-red f-10"></i>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="/static/assets/images/user/avatar-3.jpg"
                            alt="activity-user"
                          />Silje Larsen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">Dog the quick brown</h6>
                      </td>
                      <td>
                        <h6 class="m-0">10:23 AM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-purple">Delayed</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-purple f-10"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="/static/assets/images/user/avatar-1.jpg"
                            alt="activity-user"
                          />Ida Jorgensen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">The quick brown fox</h6>
                      </td>
                      <td>
                        <h6 class="m-0">4:28 PM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-green">Done</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-green f-10"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div
                class="tab-pane fade active show"
                id="profile"
                role="tabpanel"
                aria-labelledby="profile-tab"
              >
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>User</th>
                      <th>Activity</th>
                      <th>Time</th>
                      <th>Status</th>
                      <th class="text-right"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="/static/assets/images/user/avatar-2.jpg"
                            alt="activity-user"
                          />Albert Andersen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">Jumps over the lazy</h6>
                      </td>
                      <td>
                        <h6 class="m-0">2:37 PM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-red">Missed</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-red f-10"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="/static/assets/images/user/avatar-1.jpg"
                            alt="activity-user"
                          />Ida Jorgensen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">The quick brown fox</h6>
                      </td>
                      <td>
                        <h6 class="m-0">3:28 PM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-green">Done</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-green f-10"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="/static/assets/images/user/avatar-1.jpg"
                            alt="activity-user"
                          />Ida Jorgensen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">The quick brown fox</h6>
                      </td>
                      <td>
                        <h6 class="m-0">4:28 PM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-green">Done</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-green f-10"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="/static/assets/images/user/avatar-3.jpg"
                            alt="activity-user"
                          />Silje Larsen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">Dog the quick brown</h6>
                      </td>
                      <td>
                        <h6 class="m-0">10:23 AM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-purple">Delayed</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-purple f-10"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div
                class="tab-pane fade"
                id="contact"
                role="tabpanel"
                aria-labelledby="contact-tab"
              >
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>User</th>
                      <th>Activity</th>
                      <th>Time</th>
                      <th>Status</th>
                      <th class="text-right"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="/static/assets/images/user/avatar-3.jpg"
                            alt="activity-user"
                          />Silje Larsen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">Dog the quick brown</h6>
                      </td>
                      <td>
                        <h6 class="m-0">10:23 AM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-purple">Delayed</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-purple f-10"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="/static/assets/images/user/avatar-1.jpg"
                            alt="activity-user"
                          />Ida Jorgensen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">The quick brown fox</h6>
                      </td>
                      <td>
                        <h6 class="m-0">3:28 PM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-green">Done</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-green f-10"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="/static/assets/images/user/avatar-2.jpg"
                            alt="activity-user"
                          />Albert Andersen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">Jumps over the lazy</h6>
                      </td>
                      <td>
                        <h6 class="m-0">2:37 PM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-red">Missed</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-red f-10"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="/static/assets/images/user/avatar-1.jpg"
                            alt="activity-user"
                          />Ida Jorgensen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">The quick brown fox</h6>
                      </td>
                      <td>
                        <h6 class="m-0">4:28 PM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-green">Done</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-green f-10"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        [ Main Content ] end -->
        </div>
    </div>
</div>
</div>
    <script>
        const gaugeElement = document.querySelector(".gauge");
        const gauge__fill = document.querySelector(".gauge_fill");

        //  setGaugeValue 함수 매개변수에 value 에 게이지 값을 넣어주면 됩니다.

        function setGaugeValue(gauge, value) {

          if (value < 0 || value > 1) {
            return;
          }
          gauge.querySelector(".gauge_fill").style.transform = `rotate(${
            value / 2 //게이지가 채워 지는 부분 반원을 그리기 위해 2를 나눠줌
          }turn)`;
          gauge.querySelector(".gauge_cover").textContent = `${Math.round(
            value * 100
          )}%`;
        }
        document.removeEventListener("setGaugeValue", setGaugeValue, {
              passive: false
        });
        //   Interval 함수 사용 타이머 역할
        //   value 는 실수 단위

      setInterval(() => {
            const ran = Math.random();
            console.log(ran)
            if (ran < 0.5) {
              gauge__fill.style.background = "#009578";
            } else if (ran > 0.5 && ran < 0.8) {
              gauge__fill.style.background = "#FF9900";
            } else {
              gauge__fill.style.background = "#FF0000";
            }
            setGaugeValue(gaugeElement, ran);
        }, 3 * 1000);
    </script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
</div>
</div>
